body {
    background-color: #f3f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

#enviar {
    padding: 8px;
}

#prompt {
    border-color: #5f5858;
    border-radius: 8px; 
    padding: 50px;
}

.comentario-observacao {
    color: #5f5858;
    font-style: italic;
}

#caixa-resultado {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 40px;
    border-radius: 8px;
    white-space: pre-wrap;
    margin: 30px;
}

#resposta-prompt {
    margin: 0;
    white-space: pre-wrap;
    font-family:'Courier New', Courier, monospace
}